.operators-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 515px;
    overflow-y: auto;
    padding: 0 60px;
    &-item {
        cursor: pointer;
        width: 100%;
        margin-bottom: 25px;
        border-radius: 8px;
        display: flex;
        height: 150px;
        background-color: $light-background;
        transition: 1s;
        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            transform: scale(1.1);
        }
        &_icon {
            display: flex;
            width: 400px;
            align-items: center;
            justify-content: center;
            & img {
                object-fit: contain;
                width: 200px;
                height: 100%;
            }
        }
        &_name {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.operators-list::-webkit-scrollbar{
	width: 12px;
}

.operators-list::-webkit-scrollbar-track{
	background-color: $light-background;
}

.operators-list::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: #1282a2;
    border: 3px solid $light-background;
}

.add-operator-btn {
    margin-bottom: 20px;
    padding: 10px;
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        outline: solid #1282a2 1px;
    }
}